.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  background-image: linear-gradient(to right, rgb(124, 55, 118), rgb(228, 116, 218));

  position: relative;
  box-sizing: border-box;
}